<html>
    <head>
        <link href="/public/style.css" type="text/css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>

    </head>
    <body>
        <form method="POST" action="/person">
            First Name:<input type="text" id="firstName" name="firstName"/><br />
            Last Name:<input type="text" id="lastName" name="lastName" /><br />
            <input type="submit" value="Submit" />    
        </form>
        <script>
            $.ajax({
                type : "POST",
                url  : "/personjson",
                data : JSON.stringify({fristname : firstName, lastname : lastName}),
                dataType : 'json',
                contentType : 'application/json'
            })
        </script>
    </body>
</html>